.GreyBox{
	background:#EEEEEE;
	height:40px;
	width:40px;
	position:absolute;

}

.WhiteBox{
	background:#FFFFFF;
	height:40px;
	width:40px;
	position:absolute;

}

.PlayGround{
	background:#EEEFFF;
	height: 400px;
	width: 400px;
	position: absolute;
}


.Blockly{
	height: 400px;
	width: 500px;
	left: 550px;
	top: 8px;
	position: absolute;
}
.canvas{

	border:1px solid #000000; 
	position: absolute;
	left: 8px;
	top: 8px;
}
.Codesarea{
	height: 200px;
	width: 1000px;
	position: absolute;
	left: -500px;
	top: 500px;
}
.PigWin{
	font-size: 30;
	font-style: bold;
	color: green;
	position: absolute;
	visibility: visible;
	left: -450px;
	top: 400px;
}
.PigLose{
	font-size: 30;
	font-style: bold;
	color: red;
	position: absolute;
	visibility: visible;
	left: -450px;
	top: 400px;
}
.BirdWin{
	font-size: 30;
	font-style: bold;
	color: green;
	position: absolute;
	visibility: visible;
	left: -450px;
	top: 300px;
}
.BirdLose{
	font-size: 30;
	font-style: bold;
	color: red;
	position: absolute;
	visibility: visible;
	left: -450px;
	top: 300px;
}
.moveButton{
	position: absolute;
	left: 350px;
	top: 420px;

}
.resetButton{
	position: absolute;
	left: 250px;
	top: 420px;
}
.pointer{
	background:#FF0303;
	height:3px;
	width:0px;
	position: absolute;
}

.bird30 {
transform:          rotate(30deg);
-ms-transform:      rotate(30deg);
-moz-transform:     rotate(30deg);
-webkit-transform:  rotate(30deg);
-o-transform:       rotate(30deg);
}
.bird90 {
transform:          rotate(90deg);
-ms-transform:      rotate(90deg);
-moz-transform:     rotate(90deg);
-webkit-transform:  rotate(90deg);
-o-transform:       rotate(90deg);
}

.Title{
	font-size: 20;
	font-style: bold;
	color: red;
	position: absolute;
	visibility: visible;
	left: -500px;
	top: 20px;

}